

.form {
    width: 100%;
    margin-bottom: 3rem;
    &__container {
        margin-top: 1rem;
        width: 100%;
        background-color: $blue;
        color:#fff;
    }

    &__title {
        color:#fff;
        margin:1.5rem 0 0.5rem;
        font-size: 1.5rem;

        &--flash {
            color: $orange;
            font-size: 1.5rem;
            line-height: 2rem;
            margin-bottom: 2rem;
        }

        &--where {
            font-size: 1.5rem;
            padding: 1rem 0;
        }
    }

    &__questions {
        margin: 0.5rem 0;
        font-size: 0.75rem;
    }

    &__select {
        font-size: 0.75rem;
    }

    &__contact {
        background-color: $blue;
        border: none;
        box-shadow: none;
        border-bottom: solid 1px #fff;
        font-size: 0.75rem;
    }

    &__contact:focus {
        background-color: $blue;
        border: none;
        box-shadow: none;
        border-bottom: solid 2px $orange;
        color:#fff;
    }

    &__number {
        display: inline-block;
        width: 3rem;
        margin-right: 0.25rem;
        font-size: 0.75rem;
    }

    &__button {
        background-color: $orange;
        color: $blue;
        margin: 0.75rem 0;
    }

    &__button:hover {
        background-color: $light-blue;
        color: $blue;
        
    }

    &--whereto {
        background-color: $light-blue;
        text-align: left;
        color: $blue;
        width: 100%;
        margin-top: 0;
        padding: 0 1rem;
    }
}

.form label {
    color: #fff;
}

@include breakpoint(medium) {
    .form {
        margin:-12rem 0 3rem;
        &__container {
            margin-top: 1rem;
            width: 100%;
            background-color: $blue;
            color:#fff;
        }
    
        &__title {
            color:#fff;
            margin:1.5rem 0 0.5rem;
            font-size: 1.5rem;
    
            &--flash {
                color: $orange;
                font-size: 1.5rem;
                line-height: 2rem;
                margin-bottom: 2rem;
            }
    
            &--where {
                font-size: 1.5rem;
                padding: 1rem 0;
            }
        }
    
        &__questions {
            margin: 0.5rem 0;
            font-size: 0.8rem;
        }
    
        &__select {
            font-size: 0.75rem;
        }
    
        &__contact {
            background-color: $blue;
            border: none;
            box-shadow: none;
            border-bottom: solid 1px #fff;
            font-size: 0.75rem;
        }
    
        &__contact:focus {
            background-color: $blue;
            border: none;
            box-shadow: none;
            border-bottom: solid 2px $orange;
            color:#fff;
        }
    
        &__number {
            display: block;
            width: 3rem;
            margin-right: 0.25rem;
            font-size: 0.75rem;
        }
    
        &__button {
            background-color: $orange;
            color: $blue;
            margin: 0.75rem 0;
        }
    
        &__button:hover {
            background-color: $light-blue;
            color: $blue;
            
        }
        &--whereto {
            margin-top: 0;
        }

    }

}

@include breakpoint(large) {
    .form {
        margin:-3rem 0 2rem;

        padding: 1rem 0;
        &__container {
            margin: -9rem 0 0;
            padding: 0 1rem;
        }
    
        &__title {
            margin:1rem 0;
            font-size: 2rem;
    
            &--flash {
                font-size: 1.75rem;
                line-height: 2rem;
                margin: 2rem 0 2.5rem;
            }
    
            &--where {
                font-size: 1.5rem;
            }
        }
    
        &__questions {
            margin: 0.5rem 0;
            font-size: 1rem;
        }
    
    
        &__contact {
            font-size: 1rem;
        }
    
        &__number {
            display: inline-block;
            width: 3rem;
            margin-right: 0.25rem;
        }
    
        &__button {
            margin: 0.75rem 0;
        }

        &--whereto {
            margin-top: 0;
            padding: 0.5rem 1rem;
        }

    }
    
}