.hero {
    width: 100%;
    min-height: 25rem;
    height: 70vh;
    background: rgb(54, 50, 50);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    
    &__container {
        width: 100%;
    }

    &__title {
        font-size: 3rem;
        color:#fff;
        margin: 3rem 0;
    }

    &--small {
        height: 50vh;
    }

}