<div class="medium-5 large-4 cell show-for-medium">
  <section class="form">
      <form class="form__container">
          <div class="grid-container">
            <div class="grid-x grid-margin-x">
              <div class="medium-12 cell">
                <h4 class="form__title">Make an enquiry</h4>
              </div>
              <div class="medium-12 cell">
                  <p class="form__questions">Number of guests in your party?</p>
              </div>
              <div class="medium-6 cell">
                  <label>
                    <input class="form__number" type="number" value="1">
                    Adults
                  </label>
              </div>
              <div class="medium-6 cell">
                  <label>
                    <input class="form__number" type="number" value="0">
                    Children
                  </label>
              </div>
              <div class="medium-12 cell">
                  <p class="form__questions">What is your preferred date?</p>
              </div>

              <div class="medium-12 cell">
                  <label><p class="form__questions">How long do you want the boat for?</p>
                      <select class="form__select">
                        <option value="Half and hour">Half an hour</option>
                        <option value="One hour">One hour</option>
                        <option value="Two hours">Two hours</option>
                        <option value="Half day">Half day</option>
                        <option value="Whole day">Whole day</option>
                      </select>
                    </label>
              </div>

              <div class="medium-12 cell">
                <label>
                    <input class="form__contact" type="text" placeholder="Name">
                </label>
                <label>
                  <input class="form__contact" type="text" placeholder="Number">
                </label>
                <label>
                  <input class="form__contact" type="email" placeholder="Email">
                </label>
                <button class="button form__button">Submit</button>
              </div>

              <div class="medium-12 cell">
                <h4 class="form__title form__title--flash">Ask about our midweek discounts </h4>
              </div>
              
            </div>
          </div>
      </form>

      <div class="form form--whereto">
        <h3 class="form__title--where serif">
          <div class="grid-container ">
            <div class="grid-x grid-margin-x">
              <div class="small-12 cell">
                  Where to cruise?
              </div>
            </div>
          </div>
        </h3>
      </div>

  </section>
</div>

{{#ifpage 'contact'}}
<div class="medium-5 large-4 cell show-for-small-only">
  <section class="form">
      <form class="form__container">
          <div class="grid-container">
            <div class="grid-x grid-margin-x">
              <div class="medium-12 cell">
                <h4 class="form__title">Make an enquiry</h4>
              </div>
              <div class="medium-12 cell">
                  <p class="form__questions">Number of guests in your party?</p>
              </div>
              <div class="medium-6 cell">
                  <label>
                    <input class="form__number" type="number" value="1">
                    Adults
                  </label>
              </div>
              <div class="medium-6 cell">
                  <label>
                    <input class="form__number" type="number" value="0">
                    Children
                  </label>
              </div>
              <div class="medium-12 cell">
                  <p class="form__questions">What is your preferred date?</p>
              </div>

              <div class="medium-12 cell">
                  <label><p class="form__questions">How long do you want the boat for?</p>
                      <select class="form__select">
                        <option value="Half and hour">Half an hour</option>
                        <option value="One hour">One hour</option>
                        <option value="Two hours">Two hours</option>
                        <option value="Half day">Half day</option>
                        <option value="Whole day">Whole day</option>
                      </select>
                    </label>
              </div>

              <div class="medium-12 cell">
                <label>
                    <input class="form__contact" type="text" placeholder="Name">
                </label>
                <label>
                  <input class="form__contact" type="text" placeholder="Number">
                </label>
                <label>
                  <input class="form__contact" type="email" placeholder="Email">
                </label>
                <button class="button form__button">Submit</button>
              </div>

              <div class="medium-12 cell">
                <h4 class="form__title form__title--flash">Ask about our midweek discounts </h4>
              </div>
              
            </div>
          </div>
      </form>

  </section>
</div>
{{/ifpage}}