.lead-text {
    font-weight: bold;
    font-size: 1.1rem;
}

p {
    margin: 0 0 2rem;
    font-size: 0.9rem;
}

.serif {
    font-family: lora;
}

.disclaimer {
    font-size: 0.75rem;
}

.small-title {
    margin: 1rem 0;
    font-weight: bold;
    font-size: 1.2rem;
}

.display-inline {
    display: inline-block;
}